@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: smoothing text */
body {
  @apply bg-gray-900 text-white;
}

/* Scrollbar dark mode */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 20px;
}
